/* HEADER BUTTONS */
.button {
    -fx-background-radius: 5;
    -fx-text-fill: #ffffff;
    -fx-font-size: 15px;
}

.fractal-button {
    -fx-background-color: #2074af;
}

.fractal-button:hover {
    -fx-background-color: #17699f;
}

.fractal-button:pressed {
    -fx-background-color: #dc8024;
}


.cust-button {
    -fx-background-color: #6e2e93;
}

.cust-button:hover {
    -fx-background-color: #632787;
}

.cust-button:pressed {
    -fx-background-color: #dc8024;
}


.save-button {
    -fx-background-color: #167037;
}

.save-button:hover {
    -fx-background-color: #12602e;
}

.save-button:pressed {
    -fx-background-color: #115c2c;
}


.exit-button {
    -fx-background-color: #852929;
}

.exit-button:hover {
    -fx-background-color: #7a2525;
}

.exit-button:pressed {
    -fx-background-color: #702121;
}


.load-button {
    -fx-background-color: #194473;
}

.load-button:hover {
    -fx-background-color: #143a65;
}

.load-button:pressed {
    -fx-background-color: #11345c;
}

.rset-button {
    -fx-background-color: #dc8024;
}

.rset-button:hover {
    -fx-background-color: #cf761b;
}

.rset-button:pressed {
    -fx-background-color: #c16c16;
}


/* MISC */
.tip-button {
    -fx-background-color: #9e2e2e;
    -fx-text-fill: #ffffff;
    -fx-border-radius: 18;
}

.tip-button:hover {
    -fx-background-color: #8a2323;
}

.zoom-button {
    -fx-background-radius: 25, 25, 25, 25;
    -fx-font-size: 13px;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}

.toggle-button {
    -fx-background-color: #9e2e2e;
    -fx-text-fill: #ffffff;
}